/* Main Classes Styles */
/* Sorted Alphabetically */

/* Second Grade */

.founder-container > div {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 74rem;
  /* Spacers */
  margin: 2rem auto;
}
.founder-container h2 {
  /* Spacers */
  margin: 1rem 7%;
  /* Texts */
  text-align: center;
}

/* Third Grade */

.founder-container > div > * {
  /* Spacers */
  margin-inline: 1rem;
}
.founder-container > div > div {
  /* Display */
  border-radius: 1rem;
  height: 27.5rem;
  /* Colors */
  border: 1px solid var(--black);
}
.founder-container > div section {
  /* Display */
  width: 48rem;
}

/* Fourth Grade */

.founder-container div div div a {
  /* Display */
  border-radius: 0.5rem;
}
.founder-container div div div {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.founder-container > div section h3 {
  /* Spacers */
  padding-bottom: 0.2rem;
  /* Texts */
  font-style: italic;
  font-size: 1.5rem;
  /* Colors */
  border-bottom: 2px solid var(--black);
}
.founder-container div div > img {
  /* Display */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* Colors */
  border-bottom: 1px solid var(--black);
}
.founder-container > div section p {
  /* Spacers */
  margin-block: 1rem;
  /* Texts */
  line-height: 1.5;
}

/* Fifth Grade */

.founder-container div div div a img {
  /* Spacers */
  padding-right: 0.4rem;
}

/* Media Queries */
/* Sorted by Max Width */

@media screen and (max-width: 1185px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  .founder-container > div {
    /* Display */
    width: auto;
  }
}
@media screen and (max-width: 1160px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  .founder-container > div section {
    /* Display */
    width: auto;
    /* Spacers */
    margin: 2rem 7% 0;
    /* Texts */
    text-align: justify;
  }

  /* Fourth Grade */

  .founder-container > div section h3 {
    /* Texts */
    text-align: center;
  }
  .founder-container > div section p {
    /* Texts */
    line-height: 2
  }
}
@media screen and (max-width: 350px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  .founder-container > div > div {
    /* Display */
    height: 26rem;
  }

  /* Fourth Grade */

  .founder-container div div > img {
    /* Display */
    width: 300px;
    height: 338px;
  }  
}
