/* Main Classes Styles */
/* Sorted Alphabetically */

/* First Grade */

.main-information-container {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Spacers */
  margin-inline: 2rem;
}