/* Main Classes Styles */
/* Sorted Alphabetically */

/* First Grade */

.image-link-container {
  /* Display */
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  /* Spacers */
  margin: 0.5rem;
  /* Texts */
  text-decoration: none;
  font-style: italic;
  /* Colors */
  border: 1px solid var(--black);
  color: var(--black);
}
.image-link-container:hover {
  /* Colors */
  color: var(--white);
  background-color: var(--black);
}
.image-link-container.invert-colors {
  /* Colors */
  border-color: var(--white);
}
.image-link-container.invert-colors:hover {
  /* Colors */
  filter: invert(100%)
}

/* Second Grade */

.image-link-container img {
  /* Spacers */
  padding: 0.5rem;
  /* Colors */
  border-right: 1px solid var(--black);
}
.image-link-container:hover img {
  /* Colors */
  filter: invert(100%);
}
.image-link-container p {
  /* Spacers */
  padding: 0.5rem;
}
.image-link-container.invert-colors img {
  /* Colors */
  filter: invert(100%);
}
