/* Main Classes Styles */
/* Sorted Alphabetically */

/* First Grade */

.images-list-section-container {
  /* Spacers */
  margin-bottom: 1rem;
}

/* Second Grade */

.images-list-section-container h2 {
  /* Display */
  width: 84rem;
  /* Spacers */
  margin-inline: auto;
  /* Texts */
  text-align: center;
}
.images-list-section-container div {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media Queries */
/* Sorted by Max Width */

@media screen and (max-width: 1471px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  .images-list-section-container h2 {
    /* Display */
    width: 65rem;
  }
}
@media screen and (max-width: 1151px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  .images-list-section-container h2 {
    /* Display */
    width: 55rem;
  }
}
@media screen and (max-width: 991px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* First Grade */

  .images-list-section-container {
    /* Spacers */
    margin-inline: 3rem;
  }

  /* Second Grade */

  .images-list-section-container h2 {
    /* Display */
    width: auto;
  }
}
@media screen and (max-width: 500px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* First Grade */
  
  .images-list-section-container {
    margin-inline: 1.5rem;
  }
}