.images-list-section-container {
  /* Spacers */
  margin-bottom: 1rem;
}
.images-list-section-container h2 {
  /* Display */
  width: 84rem;
  /* Spacers */
  margin-inline: auto;
  /* Texts */
  text-align: center;
}
.images-list-section-container div {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images-list-section-container.odd div section:nth-child(2) {
  /* Spacers */
  margin-inline: 7%;
}

@media screen and (max-width: 1471px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  .images-list-section-container h2 {
    /* Display */
    width: 65rem;
  }

  /* Third Grade */

  .images-list-section-container.pair div :nth-child(2) {
    /* Spacers */
    margin-inline: 7%;
  }
}

@media screen and (max-width: 1151px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  .images-list-section-container h2 {
    /* Display */
    width: 55rem;
  }

  /* Third Grade */

  .images-list-section-container:is(.odd, .pair) div section:nth-child(2) {
    /* Spacers */
    margin-inline: 1rem;
  }
}

@media screen and (max-width: 991px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* First Grade */

  .images-list-section-container {
    /* Spacers */
    margin: 2rem 3rem;
  }

  /* Second Grade */

  .images-list-section-container h2 {
    /* Display */
    width: auto;
  }

  /* Third Grade */

  .images-list-section-container.odd div :nth-child(3) {
    /* Display */
    width: 34rem;
  }
}

@media screen and (max-width: 703px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  .images-list-section-container:is(.odd, .pair)
    div
    :is(section, :nth-child(3)) {
    /* Display */
    width: 22rem;
  }
}
