/* Main Classes Styles */
/* Sorted Alphabetically */

/* First Grade */

.image-section-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 1rem;
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  width: 220px;
}
.image-section-container h3 {
  order: 2;
  margin-block: 0.5rem;
  font-style: italic;
  font-variant: small-caps;
}
.image-section-container img {
  order: 1;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid var(--black);
}