/* Main Classes Styles */
/* Sorted Alphabetically */

/* First Grade */

.image-section-container {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  border-radius: 0.5rem;
  /* Spacers */
  margin: 1rem;
  /* Texts */
  text-align: center;
  /* Colors */
  border: 1px solid var(--black);
}

/* Second Grade */

.image-section-container h3 {
  /* Display */
  order: 2;
  /* Spacers */
  margin-block: 0.5rem;
  /* Texts */
  font-style: italic;
  font-variant: small-caps;
}
.image-section-container img {
  /* Display */
  order: 1;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  /* Colors */
  border-bottom: 1px solid var(--black);
}