/* Main Classes Styles */
/* Sorted Alphabetically */

/* First Grade */

.repair-card-section-container {
  /* Display */
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 0.5rem;
  /* Spacers */
  margin: 1rem;
  /* Texts */
  text-align: center;
  /* Colors */
  border: 1px solid var(--black);
}

/* Second Grade */

.repair-card-section-container h3 {
  /* Display */
  order: 2;
  align-content: center;
  /* Spacers */
  padding: 0.5rem;
  /* Texts */
  font-style: italic;
  font-size: 1.1rem;
  /* Colors */
  border-bottom: 1px solid var(--black);
}
.repair-card-section-container img {
  /* Display */
  order: 1;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  /* Colors */
  border-bottom: 1px solid var(--black);
}
.repair-card-section-container .list-container {
  /* Spacers */
  padding-block: 0.5rem;
}
.repair-card-section-container .list-container.offers {
  /* Display */
  order: 4;
  height: 4.5rem;
  align-content: center;
  /* Colors */
  background-color: #777;
  color: var(--white);
  text-shadow: -1px -1px 3px var(--black), -1px 1px 3px var(--black),
    1px -1px 3px var(--black), 1px 1px 3px var(--black);
}
.repair-card-section-container .list-container.services {
  /* Display */
  order: 3;
  /* Colors */
  background-color: #222;
  color: var(--white);
}
.repair-card-section-container .price {
  /* Display */
  order: 5;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  /* Spacers */
  padding-block: 0.5rem;
  /* Colors */
  background: linear-gradient(var(--blue), var(--black));
  color: var(--white);
}

/* Third Grade */

.repair-card-section-container .list-container * {
  /* Spacers */
  padding-block: 0.2rem;
  /* Texts */
  font-size: 0.9rem;
}
.repair-card-section-container .list-container h4 {
  /* Display */
  width: 8.5rem;
  /* Spacers */
  margin-inline: auto;
  /* Colors */
  border-bottom: 1px solid var(--white);
}
.repair-card-section-container .list-container ul {
  /* Display */
  list-style: none;
}
.repair-card-section-container .price p:nth-child(1) {
  /* Spacers */
  padding-bottom: 0.2rem;
  /* Texts */
  font-size: 1.6rem;
  font-weight: bold;
  /* Colors */
  text-shadow: -1px -1px 0 var(--black), -1px 1px 0 var(--black),
    1px -1px 0 var(--black), 1px 1px 0 var(--black);
}
.repair-card-section-container .price p:nth-child(2) {
  /* Texts */
  text-decoration: line-through;
  font-weight: normal;
  font-size: 0.9rem;
}
