/* Main Classes Styles */
/* Sorted Alphabetically */

/* First Grade */

.services-list-section-container {
  /* Spacers */
  margin: 2rem 5%;
}

/* Second Grade */

.services-list-section-container h2 {
  /* Texts */
  text-align: center;
}
.services-list-section-container div {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}