/* Main Classes Styles */
/* Sorted Alphabetically */

/* First Grade */

.table-container {
  /* Texts */
  text-align: center;
}

/* Second Grade */

.table-container div {
  /* Display */
  overflow-x: auto;
}
.table-container > p {
  display: none;
}

/* Third Grade */

.table-container div table {
  /* Display */
  border-collapse: collapse;
  /* Spacers */
  margin-inline: auto;
}

/* Fourth Grade */

.table-container div table :is(th, td) {
  /* Display */
  height: 1.5rem;
  /* Spacers */
  padding: 1rem;
}
.table-container div table tr {
  /* Colors */
  border-bottom: 1px solid var(--black);
}
.table-container div .small-data :is(th, td) {
  padding: 0.5rem;
}

/* Fifth Grade */

.table-container div table tbody tr:last-child {
  /* Texts */
  font-size: 1.2rem;
  font-weight: bold;
  /* Colors */
  border-bottom: none;
}
.table-container div table tbody .symbol {
  /* Texts */
  font-size: 1.5rem;
  /* Colors */
  text-shadow: 0 0 1px var(--black);
}
.table-container div table tbody .symbol.red {
  /* Colors */
  color: #ff0000;
}
.table-container div table tbody .symbol.green {
  /* Colors */
  color: #00cc00;
}
.table-container div .regular-child tbody tr:last-child {
  /* Texts */
  font-size: 1rem;
  font-weight: normal;
}

/* Sixth Grade */

.table-container div table thead th img {
  /* Display */
  border-radius: 1rem;
  /* Spacers */
  margin-bottom: 0.3rem;
  /* Colors */
  border: 1px solid var(--black);
  box-shadow: 0 0 3px var(--black);
}
.table-container div table thead th p {
  /* Texts */
  font-size: 1.2rem;
  font-style: italic;
  font-variant: small-caps;
}

/* Media Queries */
/* Sorted by Max Width */

@media screen and (max-width: 1245px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  .table-container > p {
    display: block;
  }
}

@media screen and (max-width: 1356px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Sixth Grade */

  .table-container div table thead th p {
    font-size: 1.1rem;
  }
}
