/* Main Classes Styles */
/* Sorted Alphabetically */

/* First Grade */

.table-container {
  /* Display */
  border-collapse: collapse;
  /* Spacers */
  margin: 1rem auto 2rem;
  /* Texts */
  text-align: center;
}

/* Second Grade */

.table-container :is(th, td) {
  /* Display */
  height: 1.5rem;
  /* Spacers */
  padding: 1rem;
}
.table-container tr {
  /* Colors */
  border-bottom: 1px solid var(--black);
}

/* Third Grade */

.table-container tbody tr:last-child {
  /* Texts */
  font-size: 1.2rem;
  font-weight: bold;
  /* Colors */
  border-bottom: none;
}
.table-container tbody .symbol {
  /* Texts */
  font-size: 1.5rem;
  /* Colors */
  text-shadow: 0 0 1px var(--black);
}
.table-container tbody .symbol.red {
  /* Colors */
  color: #ff0000;
}
.table-container tbody .symbol.green {
  /* Colors */
  color: #00cc00;
}

/* Fourth Grade */

.table-container thead th img {
  /* Display */
  border-radius: 1rem;
  /* Spacers */
  margin-bottom: 0.3rem;
  /* Colors */
  border: 1px solid var(--black);
  box-shadow: 0 0 3px var(--black);
}
.table-container thead th p {
  /* Texts */
  font-size: 1.2rem;
  font-style: italic;
  font-variant: small-caps;
}
