/* Main Classes Styles */
/* Sorted Alphabetically */

/* First Grade */

.footer-section {
  /* Spacers */
  margin-inline: 2rem;
  /* Texts */
  text-align: center;
}

/* Second Grade */

.footer-section h2 {
  /* Spacers */
  padding-bottom: 0.3rem;
  margin-bottom: 0.8rem;
  /* Texts */
  font-variant: small-caps;
  /* Colors */
  border-bottom: 1px solid var(--white);
}

@media screen and (max-width: 1116px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* First Grade */

  .footer-section {
    /* Spacers */
    margin-inline: 1%;
  }
}
@media screen and (max-width: 533px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  .footer-section h2 {
    /* Display */
    display: none;
  }
}
@media screen and (max-width: 485px) {
  /* Main Classes Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  .footer-section p {
    /* Display */
    display: none;
  }

  /* Third Grade */

  .footer-section .image-link-container img {
    /* Spacers */
    border-right: none;
  }
}
