/* Main Clases Styles */
/* Sorted Alphabetically */

/* First Grade */

.footer-links-section {
  /* Spacers */
  margin-left: 2rem;
}
.footer-credits-section {
  /* Spacers */
  margin-inline: 2rem;
}

/* Second Grade */

:is(.footer-links-section, .footer-credits-section) > p {
  /* Spacers */
  margin-bottom: 0.8rem;
  /* Texts */
  font-size: 1.3rem;
  font-weight: bold;
}
.footer-links-section > p {
  /* Texts */
  text-align: center;
}
.footer-links-section section {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Third Grade */
.footer-links-section section img {
  /* Spacers */
  margin-inline: 0.3rem;
}
.footer-credits-section section p {
  /* Spacers */
  margin-bottom: 0.45rem;
  /* Texts */
  font-weight: bold;
}

/* Fourth Grade */

.footer-credits-section section p a {
  /* Colors */
  color: var(--text-color);
}

/* Media Queries */
/* Sorted by Max Width */

@media screen and (max-width: 815px) {
  /* Main Clases Styles */
  /* Sorted Alphabetically */

  /* First Grade */

  .footer-links-section {
    /* Spacers */
    margin-left: 0;
  }

  /* Second Grade */

  .footer-links-section > p {
    /* Display */
    display: none;
  }
}

@media screen and (max-width: 1525px) {
  /* Main Clases Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  .footer-credits-section > p {
    /* Display */
    display: none;
  }
  .footer-credits-section section {
    /* Spacers */
    margin-top: 1rem;
    /* Texts */
    text-align: center;
  }
}
