/* Main Classes Styles */
/* Sorted Alphabetically */

/* Second Grade */

.footer-image img {
  /* Display */
  border-radius: 2rem;
  /* Spacers */
  padding: 0.5rem;
  /* Colors */
  border: 2px solid var(--black);
  filter: invert(100%);
}
.footer-image img:hover {
  /* Colors */
  background-color: var(--white);
  filter: invert(0%);
}
