/* Main Variables */

:root {
  --black: #0a0a0a;
  --white: #fafafa;
  --blue: #008ff5;
}

/* Main Tag Styles */
/* Sorted Alphabetically */

/* First Grade */

* {
  /* Spacers */
  margin: 0;
  padding: 0;
}
body {
  /* Display */
  display: flex;
  flex-direction: column;
  height: 100dvh;
  /* Text */
  font-family: Arial, Helvetica, sans-serif;
}
main {
  /* Display */
  flex: 1;
}

/* Second Grade */

body > header {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* Spacers */
  padding: 1.5rem 10%;
  /* Text */
  font-family: Arial, Helvetica, sans-serif;
  /* Colors */
  background-color: var(--black);
  color: var(--white);
}
footer > div:nth-child(1) {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Spacers */
  padding: 1rem 10%;
  /* Colors */
  background-color: var(--black);
  color: var(--white);
}
footer > div:nth-child(2) {
  /* Spacers */
  padding: 1rem;
  /* Colors */
  background-color: #222;
  border-top: 1px solid var(--white);
}
main h2 {
  /* Spacers */
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  /* Texts */
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  /* Colors */
  border-bottom: 2px solid var(--black);
}
nav a:hover {
  /* Display */
  transform: translateY(-1px) scale(1.1);
}

/* Third Grade */

body > header p {
  /* Spacers */
  margin: 0;
  /* Texts */
  font-size: 1.35rem;
  font-weight: bold;
}
footer div:nth-child(1) > p {
  /* Display */
  align-content: center;
  /* Spacers */
  margin-inline: 0.5rem;
  /* Texts */
  font-size: 3rem;
  font-weight: bold;
}
footer div:nth-child(2) p {
  /* Spacers */
  padding-block: 0.2rem;
  /* Texts */
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  /* Colors */
  color: var(--white);
}

/* Fourth Grade */

footer div:nth-child(2) p a {
  /* Colors */
  color: var(--white);
}

/* Main Clases Styles */
/* Sorted Alphabetically */

/* First Grade */

.desktop-nav {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  /* Texts */
  font-size: 1.2rem;
}

/* Second Grade */

.desktop-nav a {
  /* Display */
  user-select: none;
  /* Spacers */
  padding-inline: 1rem;
  /* Texts */
  text-decoration: none;
  font-weight: bold;
  /* Colors */
  color: var(--white);
}
.desktop-nav a:hover {
  /* Colors */
  color: var(--blue);
}

/* Media Queries */
/* Sorted by Max Width */

@media screen and (max-width: 1235px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  body > header {
    /* Display */
    justify-content: left;
    /* Spacers */
    padding: 1rem;
  }

  /* Third Grade */

  body header > p {
    /* Texts */
    font-size: 1.5rem;
  }

  /* Main Clases Styles */
  /* Sorted Alphabetically */

  /* First Grade */

  .desktop-nav {
    /* Display */
    display: none;
  }
}
@media screen and (max-width: 931px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  footer div:nth-child(1) > p {
    /* Texts */
    font-size: 2rem;
  }
}
@media screen and (max-width: 837px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  footer div:nth-child(1) > p {
    /* Display */
    display: none;
  }
}
@media screen and (max-width: 626px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Second Grade */

  footer div:nth-child(1) {
    /* Spacers */
    padding-inline: 1rem;
  }
}
@media screen and (max-width: 572px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  footer > div:nth-child(2) p {
    /* Texts */
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 464px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  footer > div:nth-child(2) p {
    /* Texts */
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 409px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  footer > div:nth-child(2) p {
    /* Texts */
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 356px) {
  /* Main Tag Styles */
  /* Sorted Alphabetically */

  /* Third Grade */

  footer > div:nth-child(2) p {
    /* Texts */
    font-size: 0.5rem;
  }
}