/* Main Variables */

:root {
  --background-color: #0a0a0a;
  --text-color: #fafafa;
  --primary: #008ff5;
}

/* Main Tag Styles */
/* sorted Alphabetically */
body {
  margin: 0;
}
body > header {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* Spacers */
  padding: 1.5rem 10%;
  /* Text */
  font-family: Arial, Helvetica, sans-serif;
  /* Colors */
  background-color: var(--background-color);
  color: var(--text-color);
}
body > header p {
  font-size: 1.35rem;
  font-weight: bold;
  margin: 0;
}
.desktop-nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
.desktop-nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  padding-inline: 1rem;
  user-select: none;
}
.desktop-nav a:hover {
  color: var(--primary);
}
@media screen and (max-width: 1235px) {
  body > header {
    padding: 1rem;
    justify-content: left;
  }
  body header > p {
    font-size: 1.5rem;
  }
  .desktop-nav {
    display: none;
  }
}
