/* Main Variables */

:root {
  --background-color: #0a0a0a;
  --text-color: #fafafa;
  --primary: #008ff5;
}
* {
  margin: 0;
  padding: 0;
}
/* Main Tag Styles */
/* sorted Alphabetically */
body {
  /* Display */
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
body > header {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* Spacers */
  padding: 1.5rem 10%;
  /* Text */
  font-family: Arial, Helvetica, sans-serif;
  /* Colors */
  background-color: var(--background-color);
  color: var(--text-color);
}
body > header p {
  font-size: 1.35rem;
  font-weight: bold;
  margin: 0;
}
.desktop-nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
.desktop-nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  padding-inline: 1rem;
  user-select: none;
}
.desktop-nav a:hover {
  color: var(--primary);
}
main {
  /* Display */
  flex: 1;
}
.main-footer-container-section {
  /* Display */
  display: flex;
  flex-wrap: wrap;
  /* Spacers */
  padding: 1rem 10%;
  /* Text */
  font-family: Arial, Helvetica, sans-serif;
  /* Colors */
  background-color: var(--background-color);
  color: var(--text-color);
}
.main-footer-container-section > p {
  /* Texts */
  font-size: 1.3rem;
  font-weight: bold;
}
.main-footer-container-section img {
  /* Display */
  border-radius: 2rem;
  /* Spacers */
  padding: 0.5rem;
  /* Colors */
  filter: invert(100%);
  border: 2px solid var(--background-color);
}
.main-footer-container-section img:hover {
  /* Colors */
  filter: invert(0%);
  background-color: var(--text-color);
}
.main-footer-links-section {
  margin-left: 2rem;
}
.main-footer-links-section p {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  text-align: center;
}
.main-footer-links-section section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main-footer-links-section section img {
  margin-inline: 0.3rem;
}
@media screen and (max-width: 1235px) {
  body > header {
    padding: 1rem;
    justify-content: left;
  }
  body header > p {
    font-size: 1.5rem;
  }
  .desktop-nav {
    display: none;
  }
}
